#room-card__container {
  width: 148px;
  height: 96px;
  border-radius: 1rem;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0.5rem;
  margin-bottom: 0.25rem;
}

#room-card__container:last-child {
  margin-bottom: 0;
}

#room-card__container span {
  margin-bottom: 0.75rem;
  color: #eeeeee;
}
